.results {
  .p-panel-content {
    padding: 0 !important;
    .p-carousel {
      .p-carousel-indicators {
        padding: 10px;
      }
      .p-tabview {
        padding-top: 15px;
        .p-tabview-nav {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: row;
          height: 30px;

          li {
            display: block;
            // flex-grow: 1;
            > .p-tabview-nav-link {
              padding: 10px;
              border: 1px solid var(--surface-border);
              border-bottom: 0;
            }
            &.p-tabview-selected {
              > .p-tabview-nav-link {
                background-color: var(--surface-b);
              }
            }
          }
        }

        .p-tabview-panels {
          // padding: 0;
          background-color: var(--surface-b);
          border: 1px solid var(--surface-border);
          border-top: 0;
          padding-top: 15px;

          .highcharts-background {
            fill: var(--surface-a)
          }
        }
      }
    }
    
  }

  .p-tabview-nav-link {
    .p-tabview-title {
      >div>span:last-child {
        padding-left: 10px;
      }
    }
  }

  .site-entry {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    >.title {
      margin-top: 0;
      margin-bottom: 10px
    }

    >.timeline {
      height: 10px;
      width: 100%;
      padding: 0 10px;

      >.timeline-container {
        position: relative;
        z-index: 0;
        width: 100%;

        &::before {
          border-top: 1px solid var(--surface-border);
          width: 100%;
          position: absolute;
          top: 9px;
          content: "";
          z-index: -1;
          transition: border-color 0.2s;
        }
  
        &:hover::before {
          border-color: var(--primary-color);
        }
  
        >.event-bullet {
          display: block;
          margin-bottom: 10px;
          cursor: pointer;
  
          >.bullet {
            margin: 0 auto;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            border: 1px solid var(--gray-500);
            background-color: var(--surface-b);
            transform: translateX(-50%);
            position: absolute;
            transition: background-color 0.2s, border-color 0.2s;
          }
  
          &:hover {
            >.bullet {
              border-color: var(--primary-color);
            }
  
            >.text {
              color: var(--primary-color);
            }
          }
  
          &.active {
            >.bullet {
              background-color: var(--primary-color);
            }
          }
        }
      }
    }

    >.time-entry {
      .p-accordion-header-text {
        width: 100%;

        >.summary {
          padding-left: 10px;

          >.title {
            margin-top: 0;
            margin-bottom: 5px;
          }

          >.body {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            font-weight: normal;
          }
        }
      }
    }
  }
}