input[type=file]{
    text-decoration: none;
    border: none;
    color: white;
    background-color: aquamarine;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.upload-btn {
    border: none;
}
