.control-panel {
  .p-panel-content {
    display: flex;
    flex-direction: row;
    height: 50px;
    gap: 10px;
    padding: 10px !important;
    border-radius: 4px;
    border: 1px solid var(--surface-d) !important;
  }

  .semester-visibility {
    display: flex;
    align-items: center;

    label {
      cursor: pointer;
    }

    .p-checkbox {
      position: relative;
      margin-left: 5px;

      .p-checkbox-input {
        z-index: 2;
        position: absolute;
        top: 0;
        width: 20px;
        height: 20px;
        margin: 0;
        opacity: 0;
        cursor: pointer;
      }
      .p-checkbox-box {
        z-index: 1;
        float: left;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}