.control-panel {
  .p-panel-content {
    display: flex;
    flex-direction: row;
    height: 50px;
    gap: 10px;
    padding: 10px !important;
    border-radius: 4px;
    border: 1px solid var(--surface-d) !important;
  }

  .semester-visibility {
    display: flex;
    align-items: center;

  .p-checkbox {
    position: relative;
    margin-left: 5px;
      .p-checkbox-box {
        float: left;
        position: absolute;
        top: 0;
      }
    }
  }
}