.layout {
  height: 100%;
  display: grid;
  grid-template:
    "header header" 35px
    "nav main" 1fr
    / 35px 1fr;

  > .header {
    grid-area: header;
  }

  > .navbar {
    grid-area: nav;
  }

  > .main {
    grid-area: main;
    padding: 10px;
    color: var(--text-color);
    overflow-y: auto;
  }
}

@media (max-width: 700px) {
  .layout {
    grid-template:
      "header" 35px
      "main" 1fr
      "nav" 35px
      / 1fr;
  }
}