.header {
  justify-content: space-between;
  background-color: var(--surface-overlay);
  padding: 3px 5px;
  font-family: var(--font-family);
  border-bottom: solid var(--surface-border);
  border-width: 1px;
  height: 35px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  > .left {
    text-align: left;
    white-space: nowrap;
  }

  > .right {
    display: flex;
    justify-content: end;
    
    > .button {
      display: flex;
      align-items: center;
      
      > .label {
        display: block;
        font-size: 1rem;
        float: right;
        padding: 2px 5px;
      }

      > .icon {
      }
    }
  }

  > .middle {
    text-align: center;
  }
}
  
@media (max-width: 700px) {
  .header {
    .header-title {
    }
  }
}