.header {
  justify-content: space-between;
  background-color: var(--surface-overlay);
  padding: 3px 5px;
  font-family: var(--font-family);
  border-bottom: solid var(--surface-border);
  border-width: 1px;
  height: 35px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  > .left {
    text-align: left;
    white-space: nowrap;
  }

  > .right {
    display: flex;
    gap: 5px;
    justify-content: end;
    
    > .button {
      display: flex;
      align-items: center;
      cursor: pointer;
      
      > .label {
        display: block;
        font-size: 1rem;
        float: right;
        padding: 2px 5px;
      }
    }
  }

  > .middle {
    text-align: center;
    align-content: center;
    > .online {
      color: green;
    }
    > .offline {
      color: red;
    }
    > .id-badge {
      display: inline-block;
      padding: 5px 10px;
      margin-left: 10px;
      font-family: 'Courier New', Courier, monospace;
      font-size: small;
      border-radius: 15px;
      background: var(--surface-border);
      color: white;
    }
  }
}

.about-modal {
  width: 50vw;

  .p-dialog-header {
    padding: 16px !important;
  }

  .body {
    display: flex;
    flex-direction: row;

    .column {
      width: 50%;

      .version {
        margin: 0;
      }

      .changelog {
        margin: 10px 0 0 0;
      }

      .changelog-list {
        margin: 5px 0 20px 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  .about-modal {
    width: 70vw;
  }
}

@media (max-width: 700px) {
  .about-modal {
    width: 90vw;
    
    .body {
      flex-direction: column;

      .column {
        width: 100%;
      }
    }
  }
}