.program-selector-modal {
  .p-dialog-header {
    padding: 10px 1.5rem !important;
  }
}

.program-selector {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  align-items: stretch;
  padding-bottom: 5px;

  .program-columns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: calc(100% - 10px - 2rem);
  }

  .program-selector-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;

    >button {
      flex-grow: 1;
    }

    >.p-fileupload {
      flex-grow: 1;

      >span {
        width: 100%;
        margin: 0;
        padding: 0.4rem;
      }
    }
  }

  .program-selector-column {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    gap: 5px;
    padding: 5px;
    border: 1px solid var(--surface-border);
    border-radius: 5px;

    h3 {
      margin: 0;
    }

    .semester-select-buttons {
      >div {
        display: flex;
        flex-direction: row;
        height: 24px;

        >.p-button {
          border-radius: 0;
          flex-grow: 1;
          justify-content: center;

          &:last-child {
            border-radius: 0 4px 4px 0;
          }

          &:first-child {
            border-radius: 4px 0 0 4px;
          }

          >span {
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
            font-size: 0.8rem;
          }
        }
      }
    }

    .program-selector-div {
      display: flex;
      align-items: center;

      label {
        cursor: pointer;
        margin-left: 5px;

        &.disabled {
          color: grey;
        }
      }

      .p-inputnumber.p-component {
        width: 60px;
        height: 100%;

        >input {
          margin-left: 5px;
          width: 60px;
        }
      }

      .p-checkbox {
        position: relative;
        margin-left: 5px;

        .p-checkbox-input {
          z-index: 2;
          position: absolute;
          top: 0;
          width: 20px;
          height: 20px;
          margin: 0;
          opacity: 0;
          cursor: pointer;
        }

        .p-checkbox-box {
          z-index: 1;
          float: left;
          position: absolute;
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .programs-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    overflow-y: auto;

    @media (max-width: 992px) {
      // lg
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 768px) {
      // md
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 576px) {
      // sm
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.light {
  .program-selector-div {
    .p-checkbox {
      .p-checkbox-box {
        .p-checkbox-icon {
          color: #000;
        }
      }
    }
  }
}