.top-bar {
    flex: 1 1 auto;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    background-color: #1f1e1f;
    padding: 3px 5px;
    font-family: var(--font-family);
    border-bottom: solid var(--surface-d);
    border-width: 1px;
    position: fixed;
    height: 35px;
    width: 100vw;
  
 
  
    .left {
      text-align: left;
      white-space: nowrap;
    }
  
    .right {
      text-align: right;
      float: right;
    }
  
    .middle {
      float: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      
    }
  
    
  }
  
  @media (max-width: 700px) {
    .top-bar {
      .main-title {
        display: none;
      }
    }
  }
  
  @keyframes move-text {
    0% {
      bottom: -0.2em;
      opacity: 1;
    }
  
    50% {
      bottom: 0.2em;
    }
  
    100% {
      bottom: 0;
      opacity: 1;
    }
  }
  