.main-title{
    font-size: 14px;
    text-transform: uppercase;
    color: #e1e0e0;
    font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-top: 5px;
    span {
        position: relative; 
    }
}
