.top-bar {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--surface-0);
  padding: 3px 5px;
  font-family: var(--font-family);
  border-color: white;
  position: fixed;
  height: 30px;
  width: 100vw;

  .nav-btn {
    padding-top: 0;
    padding-bottom: 0;

    .p-button {
      padding: 0;
    }
  }

  .p-button-icon {
    padding: 0 10px;
  }

  .left {
    text-align: left;
    width: 33%;
    white-space: nowrap;
    

    >.site {
      margin-left: 20px;
      color: var(--primary-color-text);
      display: inline-block;
    }
  }

  .right {
    text-align: right;
    width: 33%;
  }

  .center {
    text-align: center;
    width: 33%;

    >.observation {
      color: var(--primary-color-text);
    }
  }

  .main-title {
    text-transform: uppercase;
    letter-spacing: 0.3em;

    span {
      position: relative;
      opacity: 0;
      animation: move-text 0.75s forwards;
    }

    @for $i from 1 through 9 {
      span:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.2}s;
      }
    }
  }
}

@media (max-width: 700px) {
  .top-bar {
    .main-title {
      display: none;
    }
  }
}

@keyframes move-text {
  0% {
    bottom: -0.2em;
    opacity: 1;
  }

  50% {
    bottom: 0.2em;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}
