.inputs-panel {
  .p-panel-content {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
}

.light {
  .p-disabled {
    .p-button-icon.p-c.pi.pi-fw {
      color: #333;
    }
  }
  .p-button-icon.p-c.pi.pi-fw {
    color: #FFF;
  }
}