.stbtn-container {
    padding-inline: 10px 10px;
}

.toggle-btn {
    background: none;
    border: 0px;
    font-size: 13px;
}

toggle-btn:hover {
    background: none ; 
}


.p-selectbutton{
    .p-buttonset{
        padding-top: 2px;
    }
    .p-button {
       padding-top: 3%;
       padding-bottom: 3%;
    }

}

