.App {
  text-align: center;
}

.App nav {
  display: flex;
  justify-content: space-between;
  background-color: #b713ed;
  color: #ffffff;
  padding: 0.5rem 1rem;
}

.App nav a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
}
