.light {
  @import 'lucuma-ui-css/light-theme';
}

.dark {
  @import 'lucuma-ui-css/dark-theme';
}

@import 'lucuma-ui-css/lucuma-ui';
/* stylelint-enable no-invalid-position-at-import-rule */


// Base styles
body {
  background-color: var(--surface-0);
  font-family: var(--font-family);
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh;
  max-height: -webkit-fill-available;
  width: 100vw;
}

#root {
  position: fixed;
  height: 100%;
  width: 100%;
}


button.p-component.p-button {
  margin-right: 0;
}