.light {
  @import 'lucuma-ui-css/light-theme';
}

.dark {
  @import 'lucuma-ui-css/dark-theme';
}

@import 'lucuma-ui-css/lucuma-ui';
/* stylelint-enable no-invalid-position-at-import-rule */


// Base styles
body {
  background-color: var(--surface-0);
  font-family: var(--font-family);
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh;
  max-height: -webkit-fill-available;
  width: 100vw;
}

#root {
  position: fixed;
  height: 100%;
  width: 100%;
}


button.p-component.p-button,
div.p-component.p-button {
  margin-right: 0;
  padding: 0.4rem;
  height: 100%;
}

.p-selectbutton.p-buttonset.p-component.toggle-btn.p-selectbutton.p-component,
.p-button.p-component.p-fileupload-choose {
  height: 100%;
}

.p-button.p-component.p-datepicker-trigger.p-button-icon-only {
  padding: 0.4rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}